################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task4_CalculatorApp/.vs/Task3_CalculatorApp.slnx/FileContentIndex
/.vs/Calculator App.slnx/FileContentIndex
